#loading-div{
  height:100%;
  width: 100%;
}

#background-loading-image{
  height:70%;
  width: 100%;
}

#dashboard-flex-box {
  display: flex;
  justify-content: space-around;
}

#upcoming-deliverable-container-outer {
  width:20%;
}

#upcoming-deliverable-container {
  height: 50em;
  overflow-y: scroll;
}

#upcoming-deliverable-item-container {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgba(34,36,38,.15);
  padding: .5em 0;
}

#dashboard-projects {
  margin: 2em 1em;
  width: 50%;
  border-top: 1px solid rgba(34,36,38,.15);
}

#dashboard-projects-header {
  padding: 1em 0 .5em 0;
  display:flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(34,36,38,.15);
}

#upcoming {
  border-right: 1px solid rgba(34,36,38,.15);
}
