#individual-page-header{
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(34,36,38,.15);
}

#individual-page-container {
  display: flex;
  justify-content: space-around;
}

#user-list {
  margin: 1em 1em;
}

#outer-project-accordian {
  width: 55%;
  margin: 1em 1em;
}

#deliverables-div {
  margin: 1em 1em;
  width: 20%;
}
