#accordion-container {

}

#accordian-header {
  display:flex;
  justify-content: flex-end;
  border-top-right-radius: .28571429rem;
  border-top-left-radius: .28571429rem;
  box-shadow: 1px 1px 2px 1px rgba(34,36,38,.15);
  background-color: #1D8A99;
}

#project-header {
  margin: .3em 1em .3em 1em;
  vertical-align: bottom;
}

#revision-button {
  margin: .5em 1em .5em 0;
}

#accordian-seman{
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}

#revision-title{
  display:flex;
  justify-content: space-between;
  text-align: left;
  font-size: 1.8em;
}
#accordian-content {
  border-top: 1px solid rgba(34,36,38,.15);
}

#revision-description {
  margin: 1em 0 1em 0;
}

#asset-container {
  border-top: 1px solid rgba(34,36,38,.15);
  border-bottom: 1px solid rgba(34,36,38,.15);
  display: flex;
  justify-content: space-between;
  padding: 1em 0 1em 0;
}
#asset-header {
  text-align: left;
}
#comment-container{
  margin: 1em 0 1em 0;
}

#single-comment{
  display:flex;
  justify-content: space-between;
}
